<ion-view view-title="{{strings.codes.pageTitle}}" class="custom codes">
  	<ion-content>

        <div class="info">
            <span>{{strings.codes.pageInfo}}</span>
        </div>  

        <div class="table-title">
            <span>{{code_type}} {{strings.codes.labelRequestTitle}}</span>
        </div>	

        <div class="request">
            <input type="text" placeholder="{{strings.codes.inputCodeInfo}}" ng-model="codeData.code"/>
            <textarea placeholder="{{strings.codes.inputLinkInfo}}" ng-show="codeData.type == 2" ng-model="codeData.link"></textarea>
            <div class="button button-block button-positive" ng-click="createCode()">{{strings.codes.actionRequest}}</div>
        </div>	

        <div class="table-title">
            <span>{{strings.codes.codesTableTitle}}</span>
        </div>  

        <div class="table-header">
            <div class="row">
                <div class="col col-25 code">{{strings.codes.codesTableHeaderCode}}</div>
                <div class="col col-25 discount">{{strings.codes.codesTableHeaderDiscount}}</div>
                <div class="col col-50 expires">{{strings.codes.codesTableHeaderExpires}}</div>
            </div>
        </div>

        
        <div class="table-body">
            <div ng-repeat="(key, code) in discountCodes">
                <div class="row">
                    <div class="col col-25 code">{{code.code}}</div>
                    <div class="col col-25 discount">{{code.discount}}%</div>
                    <div class="col col-50 expires">{{code.expires}}</div>
                </div>
            </div>
            <div class="row" ng-hide="discountCodes.length > 0">
                {{strings.codes.codesTableNoData}}
            </div>
        </div>

  	</ion-content>
</ion-view>
