<ion-modal-view class="forgot">
  <ion-content class="padding">
    <div class="logo"></div>

    <form ng-submit="doRecover()">
      <div class="list">
        <label class="item item-input username">
          <input autocapitalize="off" type="text" ng-model="forgotData.email" placeholder="{{strings.forgot.inputEmailInfo}}">
        </label>
        <label class="item submit">
          <button class="button button-block button-positive" type="submit">{{strings.forgot.actionSend}}</button>
        </label>
      </div>
    </form>
    
  </ion-content>
</ion-modal-view>
