<ion-view view-title="{{strings.goals.pageTitle}}" class="custom goals">
  	<ion-content delegate-handle="goals">

  		<div id="goals-info" class="info">
            <span>{{strings.goals.pageInfo}}</span>
        </div>

        <ion-list>
            <div ng-repeat="(index, goal) in goals" goals-repeat>
                <ion-item id="item-{{index}}" class="item-stable" ng-click="toggleGoal(index)" ng-class="{active: isGoalShown(index)}">
                    <div class="title">
                        <div class="arrow {{goal.arrow_type}}"></div>
                        <div class="name" ng-bind-html="goal.title"></div>
                    </div>
                </ion-item>
                <ion-item class="item-accordion item-text-wrap" ng-show="isGoalShown(index)">
                    <div class="ranking">
                        <div class="details">
                            <div class="row">
                                <div class="col label">{{goal.rank_label}}</div>
                                <div class="col value">{{goal.rank}}</div>
                            </div>
                        </div>
                        <div class="status {{goal.rank_class}}">
                            <span>{{goal.rank_status}}</span>
                        </div>
                    </div>
                    <div class="requirements">
                        <div class="row">
                            <div class="col label">{{strings.goals.labelPoints}}</div>
                            <div class="col value">
                                <span>{{goal.points}}</span>
                                <span class="type">({{goal.invited_label}})</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col label">{{strings.goals.labelInvited}}</div>
                            <div class="col value">
                                <span>{{strings.goals.labelTop}} {{goal.invited}} {{strings.goals.labelPieceKeepers}}</span>
                                <span class="type">({{goal.invited_label}})</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col label">{{strings.goals.labelDeadline}}</div>
                            <div class="col value">{{goal.deadline | date:'dd MMM yyyy'}}</div>
                        </div>
                    </div>
                    <div class="content" ng-bind-html="goal.description"></div>
                </ion-item>
            </div>

        </ion-list>

  	</ion-content>
</ion-view>
