<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar id="ion-content-bar" class="bar-custom">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" width="235">
    <div class="menu-bg">
      <ion-header-bar class="bar-stable">
        <h1 class="title">
          <span class="image"></span>
          <span class="text">{{strings.menu.sectionTitle}}</span>
        </h1>
      </ion-header-bar>
      <ion-content>
        <ion-list>
          <ion-item nav-clear menu-close href="#/app/dashboard">
            {{strings.menu.itemDashboard}}
          </ion-item>
          <ion-item nav-clear menu-close href="#/app/profile">
            {{strings.menu.itemProfile}}
          </ion-item>
          <ion-item nav-clear menu-close href="#/app/codes">
            {{strings.menu.itemCodes}}
          </ion-item>
          <ion-item ng-show="profile.level.value > 0" nav-clear menu-close href="#/app/salesteam">
            {{strings.menu.itemTeam}}
          </ion-item>
          <ion-item nav-clear menu-close href="#/app/ranking">
            {{strings.menu.itemRanking}}
          </ion-item>
          <ion-item nav-clear menu-close href="#/app/levels">
            {{strings.menu.itemLevels}}
          </ion-item>
          <ion-item nav-clear menu-close href="#/app/goals">
            {{strings.menu.itemGoals}}
          </ion-item>
          <ion-item nav-clear menu-close href="#/app/missions">
            {{strings.menu.itemMissions}}
          </ion-item>
          <ion-item nav-clear menu-close href="#/app/payouts">
            {{strings.menu.itemPayouts}}
          </ion-item>
          <ion-item nav-clear menu-close ng-click="doLogout()">
            {{strings.menu.itemLogout}}
          </ion-item>
        </ion-list>
      </ion-content>
    </div>
  </ion-side-menu>
</ion-side-menus>
