<ion-view view-title="{{strings.missions.pageTitle}}" class="custom missions">
  	<ion-content on-scroll="checkPinShare()">

  		<ion-list>
            <ion-item class="item-text-wrap item {{mission.status_class}}" ng-repeat="(key, mission) in missions">
                <div class="details">
                    <div class="left">
                        <div class="points">
                            <div class="value">{{mission.points}}</div>
                            <div class="label">{{strings.missions.labelPoints}}</div>
                        </div>
                        <div class="status">{{mission.status_text}}</div>
                    </div>
                    <div class="right">
                        <div class="title">{{mission.name}}</div>
                        <div class="body" ng-bind-html="mission.description"></div>
                    </div>
                </div>

                <div class="actions">
                    <div ng-show="mission.status < 0">
                        <input autocapitalize="off" type="text" placeholder="{{mission.link_details}}" ng-show="{{mission.allow_link}}" ng-model="missionsData[mission.id].link" />
                        <textarea placeholder="{{mission.text_details}}" ng-show="{{mission.allow_text}}" ng-model="missionsData[mission.id].text"></textarea>

                        <div class="fileUpload button button-block default" ng-show="{{mission.allow_image}}">
                            <span ng-show="upload_message[mission.id] != 'Upload Photo'" class="image-icon ion-android-image"></span>
                            <span>{{upload_message[mission.id]}}</span>
                            <input type="file" class="upload" file-model="images[mission.id]" data-mission="{{mission.id}}" onchange="angular.element(this).scope().onFileSelected(this)">
                        </div>

                        <div class="button button-block fb" ng-show="showShareButton(mission.fb_share, mission.fb_shared)" ng-click="shareFacebookMission(mission.id)">{{strings.missions.labelFBShare}}</div>
                        <a href="https://twitter.com/intent/tweet?text={{mission.tw_text}}&amp;tw_p=tweetbutton&amp;url={{mission.tw_link}}" class="button button-block tw" target="_blank" ng-show="showShareButton(mission.tw_share, mission.tw_shared)" data-id="{{mission.id}}">{{strings.missions.labelTWShare}}</a>
                        <a ng-href="//www.pinterest.com/pin/create/button/?url={{mission.pin_link}}&media={{mission.pin_image}}&description={{mission.pin_text}}" class="button button-block pin" data-pin-do="buttonPin" data-pin-config="none" target='_blank' ng-show="showShareButton(mission.pin_share, mission.pin_shared)" ng-click="onPinShare()">
                            {{strings.missions.labelPINShare}}
                        </a>
                        
                        <div class="button button-block button-positive" ng-show="showSendButton(mission)" ng-click="postMission(mission.id)">{{strings.missions.actionSend}}</div>
                    </div>
                </div>
            </ion-item> 
        </ion-list>

  	</ion-content>
</ion-view>
