<ion-view view-title="{{strings.payouts.pageTitle}}" class="custom payouts">
  	<ion-content>

        <div class="info">
            <span ng-bind-html="strings.payouts.pageInfo"></span>
        </div>  

        <div class="table-title">
            <span>{{strings.payouts.labelCommission}} <b>${{payouts.totals.commission}}</b></span>
            <input autocapitalize="off" ng-show="payoutsData.paypal_checked" type="text" placeholder="{{strings.payouts.inputPayPalInfo}}" ng-model="profile.paypal.email"/>
            <div ng-show="payoutsData.paypal_checked" class="button button-block default" ng-click="updatePayPal()">{{strings.payouts.actionUpdatePayPal}}</div>
        </div>	

        <div class="request">
            <input autocapitalize="off" type="text" placeholder="Amount" ng-model="payoutsData.amount"/>

            <label class="checkbox">
                <input ng-model="payoutsData.giftcard_checked" type="checkbox"> 
                <span class="details">
                    <span ng-show="showPaymentValue()">${{payoutsData.giftcard}} {{strings.payouts.labelGiftcardPre}} </span>
                    {{strings.payouts.labelGiftcard}} <b>{{strings.payouts.labelGiftcardExtra}}</b>
                </span>
            </label>

            <label class="checkbox">
                <input ng-model="payoutsData.paypal_checked" type="checkbox"> 
                <span class="details">
                     <span ng-show="showPaymentValue()">${{payoutsData.amount}} {{strings.payouts.labelPayPalPre}} </span>
                    {{strings.payouts.labelPayPal}}
                </span>
            </label>

            <div class="button button-block button-positive" ng-click="requestPayment()">{{strings.payouts.actionRequest}}</div>
        </div>	

        <div class="table-title">
            <span>{{strings.payouts.paymentsTableTitle}}</span>
        </div>  

        <div class="table-header">
            <div class="row">
                <div class="col col-25 code">{{strings.payouts.paymentsTableHeaderAmount}}</div>
                <div class="col col-25 discount">{{strings.payouts.paymentsTableHeaderStatus}}</div>
                <div class="col col-50 expires">{{strings.payouts.paymentsTableHeaderDate}}</div>
            </div>
        </div>

        
        <div class="table-body">
            <div ng-repeat="(key, payment) in payouts.payments">
                <div class="row">
                    <div class="col col-25 code">${{payment.amount}}</div>
                    <div class="col col-25 discount">{{payment.status}}</div>
                    <div class="col col-50 expires">{{payment.created | date:'dd MMM yyyy'}}</div>
                </div>
            </div>
            <div class="row" ng-hide="payouts.payments.length > 0">
                {{strings.payouts.paymentsTableNoData}}
            </div>
        </div>

        <div class="table-title">
            <span>{{strings.payouts.giftcardsTableTitle}}</span>
        </div>  

        <div class="table-header">
            <div class="row">
                <div class="col col-50 code">{{strings.payouts.giftcardsTableHeaderCode}}</div>
                <div class="col col-50 discount">{{strings.payouts.giftcardsTableHeaderDiscount}}</div>
            </div>
        </div>

        
        <div class="table-body">
            <div ng-repeat="(key, giftcard) in payouts.giftcards">
                <div class="row">
                    <div class="col col-50 code">{{giftcard.code}}</div>
                    <div class="col col-50 discount">${{giftcard.gift_amount}}</div>
                </div>
            </div>
            <div class="row" ng-hide="payouts.giftcards.length > 0">
                {{strings.payouts.giftcardsTableNoData}}
            </div>
        </div>

  	</ion-content>
</ion-view>
