<ion-view view-title="{{strings.profile.pageTitle}}" class="custom profile">
  	<ion-content>
  		<div class="info">
  		    <span>{{strings.profile.pageInfo}}</span>
  		</div>  
  		
  		<div class="social" ng-include="'templates/profile.social.html'" ng-controller="SocialCtrl"></div> 

  		<div class="list padding">

  			<label class="delimiter"></label>
			<form>
			  	<label class="item item-input top">
			    	<input type="text" ng-model="profileData.first_name" placeholder="{{strings.profile.inputFirstNameInfo}}">
			  	</label>
		  	  	<label class="item item-input middle">
		  	    	<input type="text" ng-model="profileData.last_name" placeholder="{{strings.profile.inputLastNameInfo}}">
		  	  	</label>
		  	  	<label class="item item-input middle">
		  	    	<input autocapitalize="off" type="text" ng-model="profileData.email" placeholder="{{strings.profile.inputEmailInfo}}">
		  	  	</label>
		  	  	<label class="item item-input middle">
		  	  	  <select ng-model="profileData.gender">
		  	  	    <option value="" disabled="disabled">{{strings.profile.inputGenderInfo}}</option>
		  	  	    <option value="1">{{strings.profile.labelMale}}</option>
		  	  	    <option value="0">{{strings.profile.labelFemale}}</option>
		  	  	  </select>
		  	  	</label>
		  	  	<label class="item item-input bottom">
		  	    	<input autocapitalize="off" type="text" ng-model="profileData.phone" placeholder="{{strings.profile.inputPhoneInfo}}">
		  	  	</label>
			</form>
			<label class="delimiter"></label>  

			<form>
			  <label class="input-label">{{strings.profile.inputBirthdayInfo}}</label>
			  <label class="item item-input top">
			    <select ng-model="profileData.day">
			      <option value="" disabled="disabled">{{strings.profile.labelDay}}</option>
			      <option ng-repeat="day in days" value="{{day}}">{{day}}</option>
			    </select>
			  </label>
			  <label class="item item-input middle">
			    <select ng-model="profileData.month">
			      <option value="" disabled="disabled">{{strings.profile.labelMonth}}</option>
			      <option ng-repeat="(key, month) in months" value="{{key+1}}">{{month}}</option>
			    </select>
			  </label>
			  <label class="item item-input bottom">
			    <select ng-model="profileData.year">
			      <option value="" disabled="disabled">{{strings.profile.labelYear}}</option>
			      <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
			    </select>
			  </label>
			</form>
			<label class="delimiter"></label>

			  <label class="input-label">{{strings.profile.labelAddress}}</label>
			  <form>
			    <label class="item item-input top">
			      <input type="text" ng-model="profileData.address1" placeholder="{{strings.profile.inputAddress1Info}}">
			    </label>
			    <label class="item item-input middle">
			      <input type="text" ng-model="profileData.address2" placeholder="{{strings.profile.inputAddress2Info}}">
			    </label>
			    <label class="item item-input middle">
			      <input autocapitalize="off" type="text" ng-model="profileData.postcode" placeholder="{{strings.profile.inputCodeInfo}}">
			    </label>
			  </form>
			  <form>
			    <label class="item item-input middle">
			      <select ng-model="profileData.country.id" ng-change="onCountryChange()">
			        <option value="" disabled="disabled">{{strings.profile.labelCountry}}</option>
			        <option ng-repeat="country in countries" value="{{country.country_id}}">{{country.short_name}}</option>
			      </select>
			    </label>
			    <label ng-show="profileData.country.id == '236'" class="item item-input middle">
			      <select ng-model="profileData.state" ng-change="onStateChange()">
			        <option value="" disabled="disabled">{{strings.profile.labelState}}</option>
			        <option ng-repeat="state in states" value="{{state.state}}">{{state.state}}</option>
			      </select>
			    </label>
			    <label class="item item-input bottom">
			      <select ng-model="profileData.city" ng-change="onCityChange()" ng-show="cityInputType == 'select'">
			        <option value="" disabled="disabled">{{strings.profile.labelCity}}</option>
			        <option value="-1" >{{strings.profile.labelOther}}</option>
			        <option ng-repeat="city in cities" value="{{city.city}}">{{city.city}}</option>
			      </select>
			      <input type="text" ng-model="profileData.city" placeholder="City" ng-show="cityInputType == 'text'" />
			    </label>
			  </form>
			  <label class="delimiter"></label>

			  <label class="input-label">{{strings.profile.labelSchool}}</label>
			  <form>
			    <label class="item item-input top">
			      <select ng-model="profileData.school.name" ng-change="onSchoolChange()" ng-show="schoolInputType == 'select'">
			        <option value="" disabled="disabled">{{strings.profile.labelSchool}}</option>
			        <option value="-1">{{strings.profile.labelOther}}</option>
			        <option ng-repeat="school in schools" value="{{school}}">{{school}}</option>
			      </select>
			      <input type="text" ng-model="profileData.school.name" placeholder="{{strings.profile.inputSchoolInfo}}" ng-show="schoolInputType == 'text'" />
			    </label>
			    <label class="item item-input bottom">
			      <input type="text" ng-model="profileData.school.graduation_year" placeholder="{{strings.profile.inputGraduationInfo}}">
			    </label>
			  </form>
			  <label class="delimiter"></label>

			  <div class="button button-block button-positive" ng-click="updateProfile()">{{strings.profile.actionUpdate}}</div>
			  <label class="delimiter"></label>
		</div> 

  	</ion-content>
</ion-view>
