
  		<div class="row">
  		  <div class="col col-25">
  		    <div ng-click="doFBLink()" class="wrapper fb button">
  		      <div class="logo ion-social-facebook"></div>
  		      <div class="label" ng-hide="showNetworkFollowers('facebook')">{{strings.social.actionLink}}</div>
  		      <div class="label" ng-show="showNetworkFollowers('facebook')">{{networks.facebook.followers}}</div>
  		    </div>
  		  </div>
  		  <div class="col col-25">
  		    <div ng-click="doTWLink()" class="wrapper tw button">
  		      <div class="logo ion-social-twitter"></div>
  		      <div class="label" ng-hide="showNetworkFollowers('twitter')">{{strings.social.actionLink}}</div>
  		      <div class="label" ng-show="showNetworkFollowers('twitter')">{{networks.twitter.followers}}</div>
  		    </div>
  		  </div>
  		  <div class="col col-25">
  		    <div ng-click="doINSTLink()" class="wrapper inst button">
  		      <div class="logo ion-social-instagram-outline"></div>
  		      <div class="label" ng-hide="showNetworkFollowers('instagram')">{{strings.social.actionLink}}</div>
  		      <div class="label" ng-show="showNetworkFollowers('instagram')">{{networks.instagram.followers}}</div>
  		    </div>
  		  </div>
  		  <div class="col col-25">
  		    <div ng-click="doTUBLink()" class="wrapper tub button">
  		      <div class="logo ion-social-tumblr"></div>
  		      <div class="label" ng-hide="showNetworkFollowers('tumblr')">{{strings.social.actionLink}}</div>
  		      <div class="label" ng-show="showNetworkFollowers('tumblr')">{{networks.tumblr.followers}}</div>
  		    </div>
  		  </div>
  		</div>
  		<div class="row">
  		  <div class="col col-25">
  		    <div ng-click="doPINLink()" class="wrapper pin button">
  		      <div class="logo ion-social-pinterest"></div>
  		      <div class="label" ng-hide="showNetworkFollowers('pinterest')">{{strings.social.actionLink}}</div>
  		      <div class="label" ng-show="showNetworkFollowers('pinterest')">{{networks.pinterest.followers}}</div>
  		    </div>
  		  </div>
  		  <div class="col col-25">
  		    <div ng-click="doYBLink()" class="wrapper yb button">
  		      <div class="logo ion-social-youtube"></div>
  		      <div class="label" ng-hide="showNetworkFollowers('youtube')">{{strings.social.actionLink}}</div>
  		      <div class="label" ng-show="showNetworkFollowers('youtube')">{{networks.youtube.followers}}</div>
  		    </div>
  		  </div>
  		  <div class="col col-25">
  		    <div ng-click="doVNLink()" class="wrapper vn button">
  		      <div class="logo"></div>
  		      <div class="label" ng-hide="showNetworkFollowers('vine')">{{strings.social.actionLink}}</div>
  		      <div class="label" ng-show="showNetworkFollowers('vine')">{{networks.vine.followers}}</div>
  		    </div>
  		  </div>
  		</div> 
