<ion-view view-title="{{strings.ranking.pageTitle}}" class="custom ranking">
    <ion-content>
      	<div class="row top-ranking">
            <div class="col">
                <div class="rank">
                    <div class="value">{{profile.ranking.global.rank}}</div>
                    <div class="label">{{strings.ranking.labelGlobal}}</div>
                </div>
                <!-- <div class="last-month">
                    <span class="sign {{profile.ranking.global.arrow}}" ng-hide="!profile.ranking.global.last_month"></span>
                    <span class="value" ng-hide="!profile.ranking.global.last_month">{{profile.ranking.global.last_month}}</span>
                    <span class="label">{{profile.ranking.global.text}}</span>
                </div> -->
            </div>
            <div class="col">
                <div class="rank">
                    <div class="value">{{profile.ranking.country.rank}}</div>
                    <div class="label">{{strings.ranking.labelCountry}}</div>
                </div>
                <!-- <div class="last-month">
                    <span class="sign {{profile.ranking.country.arrow}}" ng-hide="!profile.ranking.country.last_month"></span>
                    <span class="value" ng-hide="!profile.ranking.country.last_month">{{profile.ranking.country.last_month}}</span>
                    <span class="label">{{profile.ranking.country.text}}</span>
                </div> -->
            </div>
            <div class="col">
                <div class="rank">
                    <div class="value">{{profile.ranking.city.rank}}</div>
                    <div class="label">{{strings.ranking.labelCity}}</div>
                </div>
                <!-- <div class="last-month">
                    <span class="sign {{profile.ranking.city.arrow}}" ng-hide="!profile.ranking.city.last_month"></span>
                    <span class="value" ng-hide="!profile.ranking.city.last_month">{{profile.ranking.city.last_month}}</span>
                    <span class="label">{{profile.ranking.city.text}}</span>
                </div> -->
            </div>
        </div>

        <div class="info">
            <span>{{strings.ranking.pageInfo}}</span>
        </div>
        
        <div class="table-title">
            <span>{{strings.ranking.topTableTitle}}</span>
        </div>
        
        <div class="table-header">
            <div class="row">
                <div class="col col-50 name">{{strings.ranking.topTableHeaderName}}</div>
                <div class="col col-25 country">{{strings.ranking.topTableHeaderCountry}}</div>
                <div class="col col-25 points">{{strings.ranking.topTableHeaderPoints}}</div>
            </div>
        </div>

        
        <div class="table-body">
            <ion-scroll>
                <div ng-repeat="(key, user) in globalRanking.top">
                    <div class="row">
                        <div class="col col-50 name">{{user.first_name}} {{user.last_name}}</div>
                        <div class="col col-25 country">{{user.country}}</div>
                        <div class="col col-25 points">{{user.total_points}}</div>
                    </div>
                </div>
            </ion-scroll>
        </div>
    </ion-content>
</ion-view>
