<ion-modal-view class="register">
  <ion-content class="padding">

    <div class="info">{{strings.register.pageInfo}}</div>

    <button class="button button-block fb" ng-click="onFacebookClick()" ng-show="show_fb_button">{{strings.register.labelRegisterFB}}</button>

      <div class="list">
      <form>
        <label class="item item-input top">
          <input autocapitalize="off" type="text" ng-model="registerData.email" placeholder="{{strings.register.inputEmailInfo}}">
        </label>
        <label class="item item-input middle">
          <input autocapitalize="off" type="password" ng-model="registerData.password" placeholder="{{strings.register.inputPasswordInfo}}">
        </label>
        <label class="item item-input middle">
          <input autocapitalize="off" type="password" ng-model="registerData.confirm_password" placeholder="{{strings.register.inputConfirmPasswordInfo}}">
        </label>
        <label class="item item-input middle">
          <input type="text" ng-model="registerData.first_name" placeholder="{{strings.register.inputFirstNameInfo}}">
        </label>
        <label class="item item-input bottom">
          <input type="text" ng-model="registerData.last_name" placeholder="{{strings.register.inputLastNameInfo}}">
        </label>
      </form>
        <label class="delimiter"></label>

      <form>
        <label class="input-label full-width">{{strings.register.labelImages}}</label>
        <div ng-click="onImageWrapperClick(0)" class="fileUpload button button-block default">
            <span ng-show="showImageIcon[0]" class="image-icon ion-android-image"></span>
            <span>{{upload_message[0]}}</span>
            <input type="file" class="upload" ng-hide="FBRegistered" file-model="images[0]" onchange="angular.element(this).scope().onFileSelected(0, this)">
        </div>
        <div class="fileUpload button button-block default">
            <span ng-show="showImageIcon[1]" class="image-icon ion-android-image"></span>
            <span>{{upload_message[1]}}</span>
            <input type="file" class="upload" file-model="images[1]" onchange="angular.element(this).scope().onFileSelected(1, this)">
        </div>
      </form>

      <form>
        <label class="input-label">{{strings.register.inputBirthdayInfo}}</label>
        <label class="item item-input top">
          <select ng-model="registerData.day">
            <option value="" disabled="disabled">{{strings.register.labelDay}}</option>
            <option ng-repeat="day in days">{{day}}</option>
          </select>
        </label>
        <label class="item item-input middle">
          <select ng-model="registerData.month">
            <option value="" disabled="disabled">{{strings.register.labelMonth}}</option>
            <option ng-repeat="(key, month) in months" value="{{key+1}}">{{month}}</option>
          </select>
        </label>
        <label class="item item-input bottom">
          <select ng-model="registerData.year">
            <option value="" disabled="disabled">{{strings.register.labelYear}}</option>
            <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
          </select>
        </label>
      </form>
        <label class="delimiter"></label>


      <form>
        <label class="item item-input top">
          <input type="text" ng-model="registerData.address1" placeholder="{{strings.register.inputAddress1Info}}">
        </label>
        <label class="item item-input middle">
          <input type="text" ng-model="registerData.address2" placeholder="{{strings.register.inputAddress2Info}}">
        </label>
        <label class="item item-input middle">
          <input autocapitalize="off" type="text" ng-model="registerData.postcode" placeholder="{{strings.register.inputCodeInfo}}">
        </label>
      </form>
      <form>
        <label class="item item-input middle">
          <select ng-model="registerData.country" ng-change="onCountryChange()">
            <option value="" disabled="disabled">{{strings.register.labelCountry}}</option>
            <option ng-repeat="country in countries" value="{{country.country_id}}_{{country.short_name}}">{{country.short_name}}</option>
          </select>
        </label>
        <label ng-show="registerData.country == '236_United States'" class="item item-input middle">
          <select ng-model="registerData.state" ng-change="onStateChange()">
            <option value="" disabled="disabled">{{strings.register.labelState}}</option>
            <option ng-repeat="state in states" value="{{state.state}}">{{state.state}}</option>
          </select>
        </label>
        <label class="item item-input middle">
          <select ng-model="registerData.city" ng-change="onCityChange()" ng-show="cityInputType == 'select'">
            <option value="" disabled="disabled">{{strings.register.labelCity}}</option>
            <option value="-1" >{{strings.register.labelOther}}</option>
            <option ng-repeat="city in cities" value="{{city.city}}">{{city.city}}</option>
          </select>
          <input type="text" ng-model="registerData.city" placeholder="City" ng-show="cityInputType == 'text'" />
        </label>
      </form>
      <form>
        <label class="item item-input middle">
          <select ng-model="registerData.school" ng-change="onSchoolChange()" ng-show="schoolInputType == 'select'">
            <option value="" disabled="disabled">{{strings.register.labelSchool}}</option>
            <option value="-1">{{strings.register.labelOther}}</option>
            <option ng-repeat="school in schools" value="{{school}}">{{school}}</option>
          </select>
          <input type="text" ng-model="registerData.school" placeholder="{{strings.register.inputSchoolInfo}}" ng-show="schoolInputType == 'text'" />
        </label>
        <label class="item item-input middle">
          <input type="text" ng-model="registerData.graduation_year" placeholder="{{strings.register.inputGraduationInfo}}"/>
        </label>
        <label class="item item-input middle">
          <select ng-model="registerData.gender">
            <option value="" disabled="disabled">{{strings.register.inputGenderInfo}}</option>
            <option value="1">{{strings.register.labelMale}}</option>
            <option value="0">{{strings.register.labelFemale}}</option>
          </select>
        </label>
        <label class="item item-input bottom">
          <input ng-model="registerData.phone" type="text" placeholder="{{strings.register.inputPhoneInfo}}">
        </label>
      </form>

      <form>
        <label class="checkbox">
          <input ng-model="registerData.terms" type="checkbox"> 
          <span>{{strings.register.labelAccept}}</span>
        </label>
        <a class="terms" href="#/terms">{{strings.register.labelTerms}}</a>
      </form>
        <label ng-click="doRegister()" class="item submit">
          <div class="button button-block button-positive">{{strings.register.actionSubmit}}</div>
        </label>
      </div>

  </ion-content>
</ion-modal-view>
