<ion-modal-view class="reset">
  <ion-content class="padding">
    <div class="logo"></div>

    <form ng-submit="doReset()">
      <div class="list">
        <label class="item item-input top password">
          <input autocapitalize="off" type="password" ng-model="resetData.password" placeholder="{{strings.reset.inputNewPasswordInfo}}">
        </label>
        <label class="item item-input bottom password">
          <input autocapitalize="off" type="password" ng-model="resetData.confirm_password" placeholder="{{strings.reset.inputConfirmPasswordInfo}}">
        </label>
        <label class="item submit">
          <button class="button button-block button-positive" type="submit">{{strings.reset.actionReset}}</button>
        </label>
      </div>
    </form>
    
  </ion-content>
</ion-modal-view>
