<ion-header-bar class="bar-custom">
    <div class="title">{{strings.terms.pageTitle}}</div>
</ion-header-bar>

<ion-nav-view>
    <ion-view class="custom terms">
        <ion-content class="padding has-header">
            <ion-list>
                <ion-item class="item-text-wrap" ng-bind-html="terms"></ion-item>
            </ion-list>
        </ion-content>
    </ion-view>
</ion-nav-view>