/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$main-font:                       "Roboto";
$bg-img:                          "../img/bg-img.jpg";
$menu-bg:                         "../img/menu-bg.png";
$onepiece-logo-s:                 "../img/onepiece-logo-s.png";
$onepiece-logo-login:             "../img/onepiece-logo-login.png";
$level-1-bg:                      "../img/level-1-bg.jpg";
$level-2-bg:                      "../img/level-2-bg.jpg";
$level-3-bg:                      "../img/level-3-bg.jpg";
$vine-logo:                       "../img/vine-logo-small.png";

$view-bg-color:              	  rgba(0, 0, 0, 0.75);
$menu-bg-color:                   rgba(0, 0, 0, 0.85);
$input-color:                     rgba(255, 255, 255, 0.85);
$ranking-top-bg:                  rgba(95, 95, 95, 0.85);

$primary-color:					  #68b10b;
$primary-bg-color:                #444444;
$secondary-bg-color:              #ffffff;

$primary-text-color:              #5a5a5a;
$secondary-text-color:            #ffffff;

$primary-success-color:           #68b10b;
$primary-warning-color:           #FFA81E;
$primary-error-color:             #ff3131;
$secondary-error-color:        	  #ff194a;

$fb-color:                        #35619E; // Facebook color
$tw-color:                        #009ccc; // Twitter color
$pin-color:                       #C72527; // Pinterest color
$inst-color:                      #3E6D91; // Instagram color
$tub-color:                       #3C5B97; // Tumblr color
$yb-color:                        #CE0F14; // Youtube color
$vn-color:                        #00B485; // Vine color
$ln-color:                        #1075AF; // Linkedin color




// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

body {
	font-family: $main-font;
	font-size: 16px;
	line-height: 1em;
}

a {
	color: $primary-color;
}

span.centered {
	text-align: center;
}

// custom header
ion-header-bar {
	&.bar-custom {
		background-color: transparent;
		border: none;
		color: $secondary-text-color;

		.button {
			color: $secondary-text-color;
		}

		.title {
			font-size: 14px;
			font-weight: 300;
			text-transform: uppercase;
		}
	}
}

// custom view with opacity background
ion-nav-view{
	background-image: url($bg-img);
	background-size: cover;
	background-position: center top;

	ion-view {

		&.custom {
			background-color: $view-bg-color;
		}
	}
}

// remove popup head border
.popup .popup-head {
	border: 0;
}

// popup input style
.popup {
	input {
		color: lighten($primary-bg-color, 9%);
		padding-left: 8px;
	}
}

// remove bar border
.bar-header {
	border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none;
    border-bottom: none;
}

// custom button positive
.button {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	min-height: 30px;
	line-height: 34px;
	border-radius: 3px;
	border: none;
	font-weight: 600;

	&.button-positive {
		background-color: lighten($primary-color, 4%);
		border-color: lighten($primary-color, 4%);

		&.active,
		&.activated {
			background-color: darken($primary-color, 4%);
			border-color: darken($primary-color, 4%);
		}
	}

	&.button-block.margin {
		margin-left: $button-block-margin;
		margin-right: $button-block-margin;
	}

	&.default {
		background-color: lighten($primary-bg-color, 46%);
		color: $primary-text-color;

		&.active,
		&.activated {
			background-color: lighten($primary-bg-color, 36%);
		}
	}
	&.fb {
		background-color: $fb-color;
		color: $secondary-text-color;

		&.active,
		&.activated {
			background-color: darken($fb-color, 8%);
		}
	}
	&.tw {
		background-color: $tw-color;
		color: $secondary-text-color;

		&.active,
		&.activated {
			background-color: darken($tw-color, 8%);
		}
	}
	&.inst {
		background-color: $inst-color;
		color: $secondary-text-color;

		&.active,
		&.activated {
			background-color: darken($inst-color, 8%);
		}
	}
	&.pin {
		background-color: $pin-color;
		color: $secondary-text-color;

		&.active,
		&.activated {
			background-color: darken($pin-color, 8%);
		}
	}
	&.tub {
		background-color: $tub-color;
		color: $secondary-text-color;

		&.active,
		&.activated {
			background-color: darken($tub-color, 8%);
		}
	}
	&.yb {
		background-color: $yb-color;
		color: $secondary-text-color;

		&.active,
		&.activated {
			background-color: darken($yb-color, 8%);
		}
	}
	&.vn {
		background-color: $vn-color;
		color: $secondary-text-color;

		&.active,
		&.activated {
			background-color: darken($vn-color, 8%);
		}
	}
}

// custom upload file button
.fileUpload {
	margin-bottom: 18px;
    position: relative;
    overflow: hidden;

	input.upload {
	    position: absolute;
	    top: 0;
	    right: 0;
	    margin: 0;
	    padding: 0;
	    font-size: 20px;
	    cursor: pointer;
	    z-index: 1000;
	    opacity: 0;
	    filter: alpha(opacity=0);
	}

	.image-icon {
		margin-right: 10px;
	}
}


// custom modal
.modal {
	background-color: $view-bg-color;
}

.modal-backdrop {
	background-image: url($bg-img);
	background-size: cover;

	.modal-backdrop-bg {
		background-color: $view-bg-color;
	}
}

// define loadbar layout
.load-bar-wrapper {
	height: 6px;
	width: 75px;
	border-radius: 5px;
	padding: 1px 0;

	.load-bar-value {
		height: 4px;
		border-radius: 5px;
		margin-left: 1px;
	}
}

// custom menu
ion-side-menu.menu-left {
	background-image: url($menu-bg);
	background-repeat: no-repeat;
	background-size: cover;

	.menu-bg {
		width: 100%;
		height: 100%;
		background-color: $menu-bg-color;
	}

	.bar-header {
		background-color: transparent;
		border: 0px !important;
	    border-bottom-color: transparent !important;
	    background-image: none;
	    border-bottom: none;

		.title {
			margin-left: 30px;
			color: $secondary-text-color;
			text-align: left;
			font-size: 17px;
			font-weight: 300;

			.image {
				background-image: url($onepiece-logo-s);
				width: 25px;
				height: 25px;
				display: inline-block;
				margin-top: 6px;
				margin-bottom: -6px;
			}

			.text {
				margin-left: 10px;
			}
		}
	}

	.list {
		margin-top: 30px;

		.item {
			margin-left: 14px;
			margin-right: 14px;
			color: $secondary-text-color;
			background-color: transparent;
			font-size: 15px;
			font-weight: 300;
			border: none;
			border-bottom: 1px solid darken($primary-bg-color, 6%);
			text-transform: uppercase;
		}

		.item a {
			color: $secondary-text-color;
			background-color: transparent;
		}
	}
}

// custom login layout
ion-modal-view.login {

	.scroll,
	.scroll-content-false {

		.logo {
			margin: 3rem auto 4rem auto;
			width: 90px;
			height: 90px;
			background-image: url($onepiece-logo-login);
			background-size: 100% 100%;
		}

		.links {
			padding: 0;

			.col {
				padding: 0;

				&.left {
					text-align: left;
				}
				&.right {
					text-align: right;
				}

				a {
					padding: 0;
					text-transform: none;
					font-size: 14px;
					font-weight: 300;
					color: $secondary-text-color;
				}
			}
		}

		.item {
			&.username,
			&.password {
				background-color: $input-color;
				border: none;

				span {
					color: lighten($primary-bg-color, 42%);
					margin-right: 15px;
					font-size: 18px;
				}

				input {
					padding: 5px;
					height: auto;
					color: lighten($primary-bg-color, 9%);
					font-size: 1em;
					font-weight: 300;
					line-height: normal;
				}
			}

			&.username {
				border-bottom: 1px solid lighten($primary-bg-color, 55%);
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
			}

			&.password {
				margin-top: 1px;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
			}

			&.submit {
				padding: 0;
				padding-top: 5px;
				background-color: transparent;
				border: none;
			}

			&.fb {
			    margin-top: -5px;
			    padding: 0;
			    border: none;
				background-color: transparent;
			}
		}

	}
}

// dashboard layout
ion-view.dashboard {

	.main-info {
		padding: 20px 10px 5px 10px;
		color: $secondary-text-color;

		.left,
		.right {
			padding: 0;
		}

		.left {
			text-align: left;

			.name {
				font-size: 17px;
				font-weight: 300;
			}
		}

		.right {
			text-align: right;

			.level,
			.sales,
			.divider {
				font-size: 12px;
				font-weight: 100;
				text-transform: uppercase;
			}

			.divider {
				margin-left: 3px;
				margin-right: 4px;
			}
		}

		.load-bar-wrapper {
			width: 100%;
			background-color: darken($primary-bg-color, 14%);

			.load-bar-value {
				background-color: lighten($primary-color, 4%);
			}
		}
	}

	.row.earnings {
		margin-top: 15px;
		padding: 0;
		border-bottom: 1px solid darken($primary-bg-color, 100%);
		background-color: lighten($primary-color, 4%);
		color: $secondary-text-color;

		.cash {
			border-right: 1px solid darken($primary-bg-color, 100%);
		}

		.cash,
		.giftcard {
			padding-top: 12px;
			padding-left: 17px;
			padding-bottom: 12px;

			.currency,
			.number {
				margin-left: -2px;
				font-size: 23px;
				font-weight: 300;
			}

			.currency {
				color: darken($primary-color, 12%);
			}

			.label {
				text-transform: uppercase;
				font-size: 11px;
				font-weight: 100;
				line-height: 12px;
			}
		}
	}

	.row.ranking {
		background-color: $primary-bg-color;
	}

	.row.points {
		background-color: darken($primary-bg-color, 6%);
	}

	.row.ranking,
	.row.points {
		color: $secondary-text-color;
		border-bottom: 1px solid darken($primary-bg-color, 100%);
		padding-bottom: 0;
		margin-top: 0;

		.global {
			.load-bar-wrapper {
				background-color: darken($primary-bg-color, 6%);

				.load-bar-value {
					background-color: lighten($primary-color, 4%);
				}
			}
		}

		.total {
			.load-bar-wrapper {
				background-color: darken($primary-bg-color, 14%);

				.load-bar-value {
					background-color: lighten($primary-color, 4%);
				}
			}
		}

		.global,
		.total {
			padding: 8px 7px;

			.value {
				font-size: 23px;
				font-weight: 300;
			}

			.label {
				font-weight: 100;
				text-transform: uppercase;
				font-size: 11px;
				line-height: 18px;
			}
		}

		.right {
			padding: 0;
			border-left: 1px solid darken($primary-bg-color, 100%);
			margin-left: 6px;

			.country,
			.bonus {
				padding: 7px 11px 8px 11px;
			}

			.city,
			.sale {
				padding: 5px 11px 2px 11px;
				border-top: 1px solid darken($primary-bg-color, 100%);
			}

			.country,
			.city,
			.bonus,
			.sale {

				.label {
					padding: 0;

					.number {
						font-weight: 300;
						border: 1px solid lighten($primary-bg-color, 42%);
						padding: 0 3px;
						border-radius: 7px;
						margin-top: 8px;
						font-size: 10px;
					}
					.text {
						font-weight: 100;
						text-transform: uppercase;
						margin-left: 3px;
						font-size: 11px;
					}
				}

				.value {
					padding: 0;
					text-align: right;
					font-size: 20px;
					font-weight: 300;
				}
			}
		}
	}

	.news-slider {

		.news-header {
			height: 42px;
			background-color: lighten($primary-bg-color, 68%);
			border-bottom: 1px solid lighten($primary-bg-color, 61%);
			color: lighten($primary-bg-color, 38%);
			font-size: 16px;
			font-weight: 400;
			text-align: center;
			line-height: 44px;
		}

		.news-content {
			background-color: $secondary-bg-color;

			.list {
				margin-right: 10px;
				margin-left: 10px;

				.title {
					margin-bottom: 1px;
					padding-top: 14px;
					padding-bottom: 7px;
					background-color: $secondary-bg-color;
					border: none;
					border-bottom: 1px solid lighten($primary-bg-color, 61%);

					a {
						padding: 0;
						color: lighten($primary-bg-color, 9%);
						font-size: 17px;
						font-weight: 500;
						text-transform: uppercase;
					}
				}

				.item-avatar {
					margin-bottom: 1px;
					border: none;
					border-bottom: 1px solid lighten($primary-bg-color, 61%);

					a {
						padding-top: 19px;
						padding-bottom: 19px;
						padding-right: 15px;
						min-height: 92px;

						img {
							top: 19px;
							left: 0;
							max-width: 55px;
							max-height: 55px;
						}

						h2 {
							color: lighten($primary-color, 4%);
							font-size: 17px;
							font-weight: 500;
						}

						p {
							margin-top: 5px;
							color: lighten($primary-bg-color, 9%);
							font-size: 14px;
							font-weight: 400;
							overflow: initial;
							white-space: initial;
							text-align: justify;
						}
					}

				}
			}
		}
	}
}

// levels layout
ion-view.levels {

	ion-content {
		background-color: $secondary-bg-color;

		.list {
			margin-top: 0;
			padding-bottom: 20px;
			background-color: transparent;

			.item {
				padding: 0;
				padding-top: 18px;
				border: none;
				background-color: transparent;

				&.level-1 .wrapper {
					background-image: url($level-1-bg);
				}
				&.level-2 .wrapper {
					background-image: url($level-2-bg);
				}
				&.level-3 .wrapper {
					background-image: url($level-3-bg);
				}

				.wrapper {
					padding: 17px 15px;
					border-radius: 3px;
					background-color: $primary-bg-color;
					background-size: cover;

					.checkmarker {
						margin-top: -30px;
						margin-right: 1px;
						background-color: $secondary-bg-color;
						text-align: center;
						width: 35px;
						height: 35px;
						border-radius: 50%;
						float: right;

						.sign {
							font-size: 36px;
							color: lighten($primary-color, 4%);

							&.sign-cover {
								position: relative;
								margin-top: 3px;
							  	margin-left: 3px;
							  	width: 29px;
							  	height: 29px;
							  	background: white;
							  	border-radius: 50%;
							  	border: 2px solid lighten($primary-color, 4%);
							  }
						}

					}

					.title {
						font-size: 17px;
						font-weight: 300;
						text-transform: uppercase;
						color: $secondary-text-color;
					}

					.subtitle {
						float: left;
						margin-top: -3px;
						font-size: 11px;
						color: lighten($primary-color, 4%);
						font-weight: 600;
					}

					.info-wrapper {
						margin-top: 32px;
						color: $secondary-text-color;
						font-weight: 100;

						.info {
							margin-top: 3px;

							span.sign {
								float: left;
								margin-top: 1px;
								margin-right: 10px;
								display: inline-block;
								font-size: 16px;
							}

							span.text {
								display: block;
								padding-left: 23px;
								font-size: 14px;
								white-space: normal;
							}
						}

					}

				}

			}

		}

	}

}

// ranking layout
ion-view.ranking {

	.row.top-ranking {
		height: 85px;
		padding: 0;
		padding-bottom: 1px;
		text-align: center;

		.col {
			margin-right: 1px;
			// padding: 15px 10px 6px 10px;
			padding: 20px 10px 1px;
			background-color: $ranking-top-bg;
			color: $secondary-text-color;

			.rank {
				// border-bottom: 1px solid lighten($primary-bg-color, 17%);

				.value {
					font-size: 32px;
					font-weight: 300;
				}

				.label {
					margin-top: 14px;
					margin-bottom: -14px;
					font-size: 16px;
					font-weight: 100;
					text-transform: uppercase;
				}
			}

			.last-month {
				margin-top: 2px;
				min-width: 92px;
				font-size: 10px;

				.sign {

					&.success {
						color: lighten($primary-success-color, 4%);
					}

					&.error {
						color: $secondary-error-color;
					}
				}

				.value {
					font-weight: 600;
				}

				.label {
					font-weight: 100;
				}
			}
		}
	}

	.info {
		margin-right: 1px;
		padding: 11px 40px;
		border-bottom: 1px solid lighten($primary-bg-color, 61%);
		background-color: lighten($primary-bg-color, 68%);
		color: lighten($primary-bg-color, 33%);
		text-align: center;
		font-size: 14px;
	}

	.table-title {
		margin-right: 1px;
		padding: 17px 10px 13px 10px;
		background-color: $secondary-text-color;

		span {
			display: inline-block;
			width: 100%;
			padding-bottom: 3px;
			color: $primary-text-color;
			text-tright: 600;
			border-bottom: 1px solid lighten($primary-bg-color, 61%);
		}
	}

	.table-header {
		margin-right: 1px;
		border-bottom: 1px solid lighten($primary-bg-color, 61%);
		background-color: lighten($primary-bg-color, 65%);
		color: lighten($primary-color, 4%);
		font-size: 11px;
		text-transform: uppercase;
		font-weight: 500;

		.row {
			padding: 7px 10px 4px 10px;

			.col {
				padding: 0;

				&.country {
					text-align: left;
				}

				&.points {
					text-align: right;
				}
			}
		}
	}

	.table-body {
		margin-top: 1px;
		margin-right: 1px;
		font-size: 11px;
		text-transform: uppercase;
		background-color: lighten($primary-bg-color, 68%);

		.row {
			padding: 9px 10px;
			border-top: 1px solid lighten($primary-bg-color, 61%);

			&:first-child {
				border: none;
			}

			.col {
				padding: 0;

				&.country {
					text-align: left;
				}

				&.points {
					text-align: right;
				}
			}
		}
	}
}

// goals layout
ion-view.goals {

	.info {
		padding: 11px 40px;
		border-bottom: 1px solid lighten($primary-bg-color, 61%);
		background-color: lighten($primary-bg-color, 68%);
		color: lighten($primary-bg-color, 33%);
		text-align: center;
		font-size: 14px;
	}

	.list .item {
		border: none;

		&.item-stable {
			padding: 12px 10px 1px 10px;
			min-height: 50px;
			background-color: $secondary-bg-color;
			color: $primary-text-color;

			&.active {
				background-color: $secondary-bg-color;
			}

			.title {
				padding-bottom: 5px;
				border-bottom: 1px solid lighten($primary-bg-color, 61%);

				.arrow {
					float: left;
					display: inline-block;
					padding: 0 6px;
				}

				.name {
					margin-left: 8px;
					padding-right: 20px;
					display: inline-block;
					font-size: 14px;
					font-weight: 600;
					white-space: normal;
				}
			}

		}

		&.item-accordion {
		  	padding-top: 0;
		  	padding-bottom: 0;
		  	overflow: hidden;
		  	line-height: 38px;
		  	transition: 0.09s all linear;

		  	&.ng-hide {
		  		line-height: 0px;
		  	}

			&.ng-hide-add,
			&.ng-hide-remove {
			  	display: block !important;
			}

			.ranking {

				.details {
					margin-top: 15px;
					border-top-left-radius: 3px;
					border-top-right-radius: 3px;
					background-color: lighten($primary-color, 4%);
					color: $secondary-text-color;

					.row {
						padding: 7px 8px 3px 5px;

						.label {
							line-height: 16px;
							font-size: 14px;
							font-weight: 300;
							text-transform: uppercase;
						}

						.value {
							font-size: 30px;
							line-height: 28px;
							text-align: right;
						}
					}

				}

				.status {
					padding: 7px 10px;
					border-bottom-left-radius: 3px;
					border-bottom-right-radius: 3px;
					background-color: lighten($primary-bg-color, 68%);
					font-size: 12px;
					line-height: 12px;

					&.error {
						color: $secondary-error-color;
					}

					&.success {
						color: $primary-success-color;
					}
				}
			}

			.requirements {
				margin-top: 3px;
				font-size: 10px;
				text-transform: uppercase;

				.row {
					padding: 0;
					padding-top: 7px;
					border-bottom: 1px solid lighten($primary-bg-color, 63%);

					.col {
						padding: 0;
						line-height: 23px;

						&.label {

						}

						&.value {
							text-align: right;

							.type {
								font-size: 7px;
							}
						}
					}
				}
			}

			.content {
				margin-top: 20px;
				margin-bottom: 6px;
				text-align: justify;

				p {
					line-height: 20px;
					font-size: 12px;
				}

				img {
					width: 100%;
				}
			}
	  	}
	}

}

//missions layout
ion-view.missions {

	ion-item {

		min-height: 130px;

		&.incompleted {

			.details .left {

				.points {
					border: 4px solid $primary-error-color;
				}

				.status {
					color: $primary-error-color;
				}
			}
		}
		&.completed {

			.details .left {

				.points {
					border: 4px solid lighten($primary-success-color, 4%);
				}

				.status {
					color: lighten($primary-success-color, 4%);
				}
			}
		}
		&.waiting {

			.details .left {

				.points {
					border: 4px solid $primary-warning-color;
				}

				.status {
					color: $primary-warning-color;
				}
			}
		}

		.details {
			margin-top: 3px;

			.left {
				float: left;
				margin-right: 14px;
				text-align: center;

				.points {
					padding: 20px 17px 16px;
					display: inline-block;
					text-align: center;
					border-radius: 50%;
					width: 80px;
					height: 80px;

					.value {
						font-size: 22px;
						font-weight: 300;
					}

					.label {
						font-size: 10px;
						text-transform: uppercase;
						color: lighten($primary-bg-color, 35%);
						line-height: 11px;
						font-weight: 300;
					}
				}

				.status {
					margin: 4px 0 10px;
					font-size: 11px;
					font-weight: 300;
				}
			}

			.right {

				.title {
					font-size: 17px;
					font-weight: 600;
				}

				.body {
					margin-top: 8px;
					font-size: 14px;
					text-align: justify;
					line-height: 18px;
					text-align: justify;

					p {
						line-height: 18px;
						font-size: 12px;
					}

					img {
						width: 100%;
					}
				}
			}
		}

		.actions {
			padding-top: 12px;

			input,
			textarea {
				margin: 10px 0;
				padding: 0 10px;
				width: 100%;
				color: $primary-text-color;
				background: lighten($primary-bg-color, 67%);
				border-radius: 3px;
			}

			textarea {
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}
	}
}

// coupons layout
ion-view.codes {

	.info {
		padding: 11px 40px;
		border-bottom: 1px solid lighten($primary-bg-color, 61%);
		background-color: lighten($primary-bg-color, 68%);
		color: lighten($primary-bg-color, 33%);
		text-align: center;
		font-size: 14px;
	}

	.table-title {
		padding: 17px 10px 13px 10px;
		background-color: $secondary-text-color;

		span {
			display: inline-block;
			padding-bottom: 3px;
			width: 100%;
			color: $primary-text-color;
			text-tright: 600;
			border-bottom: 1px solid lighten($primary-bg-color, 61%);
		}
	}

	.request {
		margin-top: -10px;
		margin-bottom: -5px;
		padding: 0 10px 1px 10px;
		background-color: $secondary-bg-color;

		input,
		textarea {
			margin: 10px 0;
			padding: 0 10px;
			color: $primary-text-color;
			background: lighten($primary-bg-color, 67%);
			width: 100%;
			border-radius: 3px;
		}

		textarea {
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}

	.table-header {
		border-bottom: 1px solid lighten($primary-bg-color, 61%);
		background-color: lighten($primary-bg-color, 65%);;
		color: lighten($primary-color, 4%);;
		font-size: 11px;
		text-transform: uppercase;
		font-weight: 500;

		.row {
			padding: 7px 10px 4px 10px;

			.col {
				padding: 0;

				&.code {
					margin-right: 15px;
				}
				&.discount {
					text-align: center;
				}
				&.expires {
					text-align: center;
					padding-left: 15px;
				}
			}
		}
	}

	.table-body {
		font-size: 11px;
		text-transform: uppercase;
		background-color: lighten($primary-bg-color, 68%);

		.row {
			padding: 9px 10px;
			border-top: 1px solid lighten($primary-bg-color, 61%);

			&:first-child {
				border: none;
			}

			.col {
				padding: 0;

				&.code {
					margin-right: 15px;
				}
				&.discount {
					text-align: center;
				}
				&.expires {
					padding-left: 15px;
					text-align: center;
				}
			}
		}
	}
}

//forgot layout
ion-modal-view.forgot {

	.scroll {

		.logo {
			margin: 7rem auto;
			width: 90px;
			height: 90px;
			background-image: url($onepiece-logo-login);
			background-size: 100% 100%;
		}

		.username {
			background-color: $input-color;
			border: none;
			border-radius: 5px;

			span {
				color: lighten($primary-bg-color, 42%);
				margin-right: 15px;
				font-size: 18px;
			}

			input {
				color: lighten($primary-bg-color, 9%);
				font-size: 1em;
				font-weight: 300;
			}
		}

		.submit {
			padding: 0;
			padding-top: 5px;
			background-color: transparent;
			border: none;

			button {
				background-color: $primary-color;
			}
		}
	}
}

//reset layout
ion-modal-view.reset {

	.scroll {

		.logo {
			margin: 7rem auto;
			width: 90px;
			height: 90px;
			background-image: url($onepiece-logo-login);
			background-size: 100% 100%;
		}

		.item-input {
			margin-top: 1px;
			background-color: $input-color !important;
			border: none;

			&.top {
				border-bottom: 1px solid lighten($primary-bg-color, 55%);
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
			}
			&.middle {
				border-bottom: 1px solid lighten($primary-bg-color, 55%);
			}
			&.bottom {
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
			}

			input {
				color: lighten($primary-bg-color, 9%);
				font-size: 1em;
				font-weight: 300;
			}
		}

		.submit {
			padding: 0;
			padding-top: 5px;
			background-color: transparent;
			border: none;

			button {
				background-color: $primary-color;
			}
		}
	}
}

//register layout
ion-modal-view.register {

	.scroll {
		margin-top: 30px;

		.info {
			margin-bottom: 20px;
			color: $secondary-text-color;
			text-align: center;
			font-weight: 300;
		}

		.button {
			margin-bottom: 25px;
		}

		a.terms {
			margin-left: -5px;
			font-size: 14px;
		}

		label {

			&.checkbox {
				margin-top: 10px;
				color: $light;

				input {
					float: left;
				}

				input:checked:before, input:checked + .checkbox-icon:before {
					background-color: $primary-color;
					border-color: $primary-color;
				}

				span {
					margin-left: 15px;
					line-height: 28px;
					font-size: 1em;
				}
			}

			&.item-input {
				margin-top: 1px;
				background-color: $input-color !important;
				border: none;

				&.top {
					border-bottom: 1px solid lighten($primary-bg-color, 55%);
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
				}
				&.middle {
					border-bottom: 1px solid lighten($primary-bg-color, 55%);
				}
				&.bottom {
					border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px;
				}

				input {
					color: lighten($primary-bg-color, 9%);
					font-size: 1em;
					font-weight: 300;
				}

				select {
					margin-left: -3px;
					padding: 6px 0;
					width: 100%;
					color: lighten($primary-bg-color, 9%);
					border: none;
					background-color: transparent;
					font-size: 17px;
				}
			}

			&.delimiter {
				padding: 10px;
				background-color: transparent;
				border: none;
			}

			&.input-label {
				color: $secondary-text-color;

				&.full-width {
					width: 100%;
					max-width: none;
				}
			}
		}

		.submit {
			padding: 0;
			padding-top: 5px;
			background-color: transparent;
			border: none;

			button {
				background-color: $primary-color;
			}
		}
	}
}

// payouts layout
ion-view.payouts {

	.info {
		padding: 11px 40px;
		border-bottom: 1px solid lighten($primary-bg-color, 61%);
		background-color: lighten($primary-bg-color, 68%);
		color: lighten($primary-bg-color, 33%);
		text-align: center;
		font-size: 14px;
	}

	input[type=text] {
		margin: 10px 0;
		padding: 0 10px;
		color: $primary-text-color;
		background: lighten($primary-bg-color, 67%);
		width: 100%;
		border-radius: 3px;
	}

	.table-title {
		padding: 17px 10px 13px 10px;
		background-color: $secondary-text-color;

		span {
			display: inline-block;
			padding-bottom: 3px;
			width: 100%;
			color: $primary-text-color;
			text-tright: 600;
			border-bottom: 1px solid lighten($primary-bg-color, 61%);
		}
	}

	.request {
		margin-top: -10px;
		margin-bottom: -5px;
		padding: 0 10px 1px 10px;
		background-color: $secondary-bg-color;

		label {
			&.checkbox {
				width: 100%;

				input {
					float: left;
				}

				input:checked+.checkbox-icon:before, input:checked:before {
					background-color: $primary-color;
					border-color: $primary-color;
				}

				span.details {
					margin-left: 15px;
					line-height: 28px;
				}
			}
		}
	}

	.table-header {
		border-bottom: 1px solid lighten($primary-bg-color, 61%);
		background-color: lighten($primary-bg-color, 65%);;
		color: lighten($primary-color, 4%);;
		font-size: 11px;
		text-transform: uppercase;
		font-weight: 500;

		.row {
			padding: 7px 10px 4px 10px;

			.col {
				padding: 0;

				&.code {
					margin-right: 15px;
				}
				&.discount {
					text-align: center;
				}
				&.expires {
					text-align: center;
					padding-left: 15px;
				}
			}
		}
	}

	.table-body {
		font-size: 11px;
		text-transform: uppercase;
		background-color: lighten($primary-bg-color, 68%);

		.row {
			padding: 9px 10px;
			border-top: 1px solid lighten($primary-bg-color, 61%);

			&:first-child {
				border: none;
			}

			.col {
				padding: 0;

				&.code {
					margin-right: 15px;
				}
				&.discount {
					text-align: center;
				}
				&.expires {
					padding-left: 15px;
					text-align: center;
				}
			}
		}
	}
}

// profile layout
ion-view.profile {
	ion-content {
		background-color: $light;
	}

	.info {
		padding: 11px 40px;
		border-bottom: 1px solid lighten($primary-bg-color, 61%);
		background-color: lighten($primary-bg-color, 68%);
		color: lighten($primary-bg-color, 33%);
		text-align: center;
		font-size: 14px;
	}

	.social {
		.wrapper {
			width: 100%;
			line-height: 16px;
			font-weight: normal;
			padding: 12px 2px;
			color: $light;
			text-align: center;
			border-radius: 3px;

			.logo {
				font-size: 35px;
				padding-bottom: 12px;
			}

			.label {
				text-transform: uppercase;
				font-size: 14px;
			}

			&.vn {

				.logo {
				    margin-top: 4px;
				    margin-bottom: 14px;
					height: 29px;
					background-image: url($vine-logo);
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
				}
			}
		}
	}

	label {


		&.item-input {
			margin-top: 1px;
			padding: 2px 0;
			background: lighten($primary-bg-color, 67%);
			border: none;

			&.top {
				border-bottom: 1px solid lighten($primary-bg-color, 60%);
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
			}
			&.middle {
				border-bottom: 1px solid lighten($primary-bg-color, 60%);
			}
			&.bottom {
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
			}

			input,
			textarea {
				padding: 0 10px;
				width: 100%;
				color: $primary-text-color;
				font-size: 16px;
			}

			textarea {
				padding-top: 10px;
				padding-bottom: 10px;
			}

			select {
				padding: 6px 10px;
				width: 100%;
				color: $primary-text-color;
				font-size: 16px;
				border: none;
				background-color: transparent;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
			}
		}

		&.delimiter {
			padding: 10px;
			background-color: transparent;
			border: none;
		}

		&.input-label {
			color: $primary-text-color;

			&.full-width {
				width: 100%;
				max-width: none;
			}
		}
	}	
}

// terms layout
ion-view.terms {
	p {
		text-align: justify;
		margin-top: 15px;
	}
}

// blog layouts
ion-view.blog {
	ion-content {
		background-color: $light;
	}

	img {
		width: 100%;
		height: 100%;
	}

	.title {
		margin-top: 15px;
		font-size: 17px;
		font-weight: 600;
		color: $primary-color;
		line-height: 20px;
		text-align: center;
	}

	p {
		text-align: justify;
		margin-top: 15px;
		line-height: 18px;
		font-size: 12px;
	}
}

// salesteam layout
ion-view.salesteam {

	.info {
		padding: 11px 40px;
		border-bottom: 1px solid lighten($primary-bg-color, 61%);
		background-color: lighten($primary-bg-color, 68%);
		color: lighten($primary-bg-color, 33%);
		text-align: center;
		font-size: 14px;
	}

	input[type=text] {
		margin: 10px 0;
		padding: 0 10px;
		color: $primary-text-color;
		background: lighten($primary-bg-color, 67%);
		width: 100%;
		border-radius: 3px;
	}

	.table-title {
		padding: 17px 10px 13px 10px;
		background-color: $secondary-text-color;

		span {
			display: inline-block;
			padding-bottom: 3px;
			width: 100%;
			color: $primary-text-color;
			text-tright: 600;
			border-bottom: 1px solid lighten($primary-bg-color, 61%);

			p.invitations-left {
				margin: 0;
				margin-top: 8px;
			}
		}
	}

	.table-header {
		border-bottom: 1px solid lighten($primary-bg-color, 61%);
		background-color: lighten($primary-bg-color, 65%);;
		color: lighten($primary-color, 4%);;
		font-size: 11px;
		text-transform: uppercase;
		font-weight: 500;

		.row {
			padding: 7px 10px 4px 10px;

			.col {
				padding: 0;

				&.email {
					margin-right: 15px;
					flex: 0 0 65%;
					max-width: 65%;

				}
				&.status {
					flex: 0 0 35%;
    				max-width: 35%;
					text-align: center;
				}
			}
		}
	}

	.table-body {
		font-size: 13px;
		background-color: lighten($primary-bg-color, 68%);

		.row {
			padding: 9px 10px;
			border-top: 1px solid lighten($primary-bg-color, 61%);

			&:first-child {
				border: none;
			}

			.col {
				padding: 0;

				&.email {
					margin-right: 15px;
					flex: 0 0 65%;
					max-width: 65%;

				}
				&.status {
					flex: 0 0 35%;
    				max-width: 35%;
					text-align: center;
				}
			}
		}
	}
}

// social linking layout
ion-modal-view.social {

	.info {
		margin-top: 30px;
		margin-bottom: 20px;
		color: $secondary-text-color;
		text-align: center;
		font-weight: 300;

		b {
			font-weight: 500;
		}
	}

	.wrapper {
		width: 100%;
		line-height: 16px;
		font-weight: normal;
		padding: 12px 2px;
		color: $light;
		text-align: center;
		border-radius: 3px;

		.logo {
			font-size: 35px;
			padding-bottom: 12px;
		}

		.label {
			text-transform: uppercase;
			font-size: 14px;
		}

		&.vn {

			.logo {
			    margin-top: 4px;
			    margin-bottom: 14px;
				height: 29px;
				background-image: url($vine-logo);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}

	.item.submit {
		margin-top: 25px;
		padding: 0;
		background-color: transparent;
		border: none;
	}
}
